tenancy_ocid            = "ocid1.tenancy.oc1..<your_tenancy_ocid>"
user_ocid               = "ocid1.user.oc1..<your_user_ocid>"
compartment_ocid        = "ocid1.compartment.oc1..<your_comparment_ocid>"
region                  = "<oci_region>"
fingerprint             = "<fingerprint>"
private_key_path        = "<private_key_path>"
deploy_adbs             = false
adbs_admin_password     = "<adbs_admin_password>"